:root {
    --orange-primary: orange;
    --grey-primary: rgb(32, 32, 42);
    --thumb-color-primary: rgb(44, 44, 56);
    --box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  }

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: rgb(25, 25, 35);
}

