:root {
    --orange-primary: orange;
    --grey-primary: rgb(32, 32, 42);
    --thumb-color-primary: rgb(44, 44, 56);
    --thumb-color-secondary: rgba(35, 35, 46, .93);
    --body-color: rgb(25, 25, 35);
    --font-color-white: white;
    --box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    --border-radius: .5em;
    --font-weight-bold: 700;
  }

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--font-color-white);
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'poppins', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--body-color);
}

